.simplePage{
    vertical-align: middle;
}
.simpleInputFirst{

    width: 80% !important;
    padding-left: 30% !Important;
}

.simpleInput{

    width: 80% !important;
    padding-left: 30% !Important;

}



.simpleBtn{
    width:80%;
    padding-left: 30% !Important;

}