table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /*width: 100%;*/
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.yellow {
    background-color: yellow;
}

.qrGroup {
    font-weight: bold !important;
    font-size: 14px !important;
    color: maroon !important;
}

.qtFirstLevel {
    font-weight: bold !important;
    font-size: 14px !important;
    background-color: rgba(216,201,201,1);
}

.qtSecondLevel {
    font-weight: bold !important;
    font-size: 14px !important;
    background-color: rgba(239,227,227,1);
}
.paras{
    font-size:12px;
}
.paraLabel{
    border:0px;
    text-align:end;
}
.paraText{

}
.company{
    font-size: 24px;
    font-weight: bold;
    color: darkgreen;
    text-align: center;
}
.reportTitle{
    font-size: 16px;
    font-weight: bold;
    color: darkgreen;
    text-align: center;
}

@media print
{
    thead { display:table-header-group;}
    table { page-break-after:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    td    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group;}
    tfoot { display:table-footer-group;}
    header .paras {
        display: block;
    }
}

@media print {
    body {-webkit-print-color-adjust: exact;}
}

